
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

.ancho-maximo{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/*navbar styling*/

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
  
  
}

.navbar.sticky {
  padding: 15px 0;
  background: #FEC935;
}


.navbar .ancho-maximo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span{
  color: #FEC935;
  transition: all 0.3s ease;
}


.navbar.sticky .logo a span{
  color: #333333;

}

.navbar .menu li{
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color .3s ease;
}

.navbar .menu li a:hover{
  color: #FEC935;
}


.navbar.sticky .menu li a:hover{
  color: #333333;

}

/*menu btn stylyng*/
.menu-btn{
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
  
}



/*seccion de inicio*/

.inicio{
  display: flex;
  background: url(../img/mirando\ de\ frente.jpg) no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.inicio .ancho-maximo {
  width: 100%;
  display: flex;
  /*margin: auto 0 auto 40px;*/
}

.inicio .ancho-maximo .row{
  margin-right: 0;
}

.inicio .contenido-inicio .text-1{
  font-size: 27px; 
}

.inicio .contenido-inicio .text-2{
  font-size: 56px;
  font-weight: 600;
  margin-left: -3px;  
}

.inicio .contenido-inicio .text-3{
  font-size: 36px;
  margin: 5px 0; 
}

.inicio .contenido-inicio .text-3 span{
  color: #FEC935;
  font-weight: 500;
}

.inicio .contenido-inicio a {
  display: inline-block;
  background-color: #FEC935;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #FEC935;
  transition: all .3s ease;
}

.inicio .contenido-inicio .boton{
  display: inline-block;
  color: #fff;
  background: #FEC935;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  margin-top: 20px;
  border: 2px solid #FEC935;
  transition: all 0.3s ease;
}
.inicio .contenido-inicio .boton:hover{
  color: #FEC935;
  background: none;
}


.inicio .contenido-inicio a{
  color: #FEC935;
  background: none;
}


/*codigo de stilos similares*/

section{
  padding: 100px 0;
  
}

.sobre-mi, .portafolio, .habilidades, .contactos{
  font-family: "poppins", "san-serif";
  
}

.sobre-mi .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  

}

.sobre-mi .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #333333;
  transform: translateX(-50%);
}

.sobre-mi .title::after{
  content: '¿Quien soy?';
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #FEC935;
  background-color: #fff;
  transform: translateX(-50%);
}




/*stylos de la seccion SOBRE MI*/

.sobre-mi .portafolio{
  font-family: "poppins", "san-serif";
  
}

.sobre-mi .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.sobre-mi .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #333333;
  transform: translateX(-50%);
}

.sobre-mi .title::after{
  content: '¿Quien soy?';
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #FEC935;
  background-color: #fff;
  transform: translateX(-50%);
}

.sobre-mi .contenido-sobremi,
.portafolio .portafolio-content,
.contactos .contenido-contacto{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}

.sobre-mi .contenido-sobremi .izquierda{
  width: 55%;
  
}

.sobre-mi .contenido-sobremi .izquierda img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.sobre-mi .contenido-sobremi .derecha{
  width: 45%;
}

.sobre-mi .contenido-sobremi .derecha .text{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;

}

.sobre-mi .contenido-sobremi .derecha .text span{
  color: #FEC935;
  font-size: 24px;

}
.sobre-mi .contenido-sobremi .derecha p{
  text-align: justify;

}
.sobre-mi .contenido-sobremi .derecha a{
  display: inline-block;
  background-color: #FEC935;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #FEC935;
  transition: all .3s ease;
}

.sobre-mi .contenido-sobremi .derecha a:hover{
  color: #FEC935;
  background: none;

}

/*seccion de portafolio*/

.portafolio{
  color: #fff;
  background: #333333;
}

.portafolio .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  

}
.portafolio .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #FEC935;
  transform: translateX(-50%);
}

.portafolio .title::after{
  content: 'Mis servicios';
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #FEC935;
 background: #333333;
  transform: translateX(-50%);
}

.portafolio .portafolio-content .card{
  width: calc(50% - 20%);
  background: black;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all .3s ease;
}

.portafolio .portafolio-content .card:hover{
  background: #FEC935;
  color: #333333;
}

.portafolio .portafolio-content .card .box{
  transition: all .3s ease;
}

.portafolio .portafolio-content .card:hover .box{
  transform: scale(1.05);
}

.portafolio .portafolio-content .card i{
  font-size: 50px;
  color: #FEC935;
  transition: color .3s ease;
}

.portafolio .portafolio-content .card:hover i{
  color: #fff;
}

.portafolio .portafolio-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 10px 0;
}

/*seccion de habilidades*/
.habilidades .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.habilidades .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  height: 3px;
  background: #333333;
  transform: translateX(-50%);
}

.habilidades .title::after{
  content: 'Herramientas';
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #FEC935;
 background: #fff;
  transform: translateX(-50%);
}

.habilidades .carousel .card{
  background: #333333;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all .3s ease;

}
.habilidades .carousel .card:hover{
  background: #FEC935;

}

.habilidades .carousel .card .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

.habilidades .carousel .card:hover .box{
  transform: scale(1.05);
}
.habilidades .carousel .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: #fff;
}

.habilidades .carousel .card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
  transition: all .3s ease;

}

.owl-dots{
  text-align: center;
  margin-top: 20px;
}

.owl-dot{
  height: 13px;
  width: 13px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #FEC935 !important;
}

.owl-dot.active{
  width: 35px;
  border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover{
  background-color: #FEC935;

}

/*seccion contactos*/


.contactos .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.contactos .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  height: 3px;
  background: #333333;
  transform: translateX(-50%);
}

.contactos .title::after{
  content: 'whatsapp';
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: #FEC935;
 background: #fff;
  transform: translateX(-50%);
}

/*.contactos .contenido-contacto .columna {
  width: calc(50% - 30%);
}

.contactos .contenido-contacto .columna .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
*/
.contactos .contenido-contacto .izquierda{
  text-align: center;
}

.contactos .contenido-contacto .izquierda .icons{
  margin: 10px 0;
}

.contactos .contenido-contacto .row{
  display: flex;
  height: 65px;
  align-items: center;
}

.contactos .contenido-contacto .row .info{
  margin-left: 30px;
}
.contactos .contenido-contacto .row i{
  font-size: 25px;
  color: #FEC935;
}

.contactos .contenido-contacto .info .head{
  font-weight: 500;
}
.contactos .contenido-contacto .info .sub-title{
  color: #333333;
  
}

.contactos .derecha form .field{
  display: flex;
}

.contactos .derecha form .field,
.contactos .derecha form .field .field{
  height: 45%;
  width: 100%;

}
.contactos .derecha form  .field input{
  height: 100%;
  width: 100%;
}




































/*responsive media query start*/
@media (max-width: 1300px){
  .inicio .ancho-maximo{
    margin-left: 0px;
  }
}

@media (max-width: 1104px){
  .sobre-mi .contenido-sobremi .izquierda img{
    height: 350px;
    width: 350px;
  }
}



@media (max-width: 947px){
  .ancho-maximo {
    padding: 0 50px;
  }
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .menu-btn i .active:before{
    content: "\f00d";
   }
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #FEC935;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease; 
  
  }  
  .navbar .menu.active{
    left: 0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 20px;
  }
  
  
  .inicio .contenido-inicio .text-1{
    font-size: 26px  
  }
  .inicio .contenido-inicio .text-2{
    font-size: 56px  
  }
  
  .inicio .contenido-inicio .text-3{
    font-size: 32px 
  }
  
  .ancho-maximo{
    max-width: 800px;
  }

  .inicio .contenido-inicio .boton{
    font-size: 16px;
    padding: 8px 20px;
  }

  .sobre-mi .contenido-sobremi .columna{
    width: 100%;
  }

  .sobre-mi .contenido-sobremi .izquierda{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .sobre-mi .contenido-sobremi .derecha{
    flex: 100%;

  }

  .portafolio .portafolio-content .card{
    width: calc(50% - 10%px);
    margin-bottom: 20px;

  }
  .contactos .ancho-maximo{
    max-width: 800px;
  }
}


@media (max-width: 690px){
  .ancho-maximo{
    padding: 0 23px;
  }
  .inicio .contenido-inicio .text-1{
    font-size: 24px  
  }
  .inicio .contenido-inicio .text-2{
    font-size: 54px  
  }
  
  .inicio .contenido-inicio .text-3{
    font-size: 30px; 
  } 
  .inicio .contenido-inicio .a{
    font-size: 20px;
    
  }

  .portafolio .portafolio-content .card{
    width: 100%;


  }
}

@media (max-width: 500px){
  .inicio .contenido-inicio .text-1{
    font-size: 20px  
  }
  .inicio .contenido-inicio .text-2{
    font-size: 50px  
  }
  
  .inicio .contenido-inicio .text-3{
    font-size: 24px; 
  }
}